# Rails logs and temp files
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Rails secrets
/config/master.key
/config/initializers/secret_token.rb
.env
.env*.local

# Bundler
/.bundle
/vendor/bundle

# Node / Yarn
node_modules/
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Rails assets
/public/packs
/public/packs-test
/public/assets
/public/uploads
/storage/*
!/storage/.keep

# Test / coverage
*.rbc
capybara-*.html
.rspec
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Others
.rvmrc
/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv
.byebug_history